@using Web.Models
@{
    LayoutModel myModel = ViewBag.LayoutModel;
    ViewBag.Title = "Location";
}



<div class="container">
    <h2>home of the afterburn</h2>

    <div class="row">
        <div class="col-sm-12">

            Location Name: @myModel.TitleName<br/>
            First Name: @myModel.FirstName<br/>
            Last Name: @myModel.LastName<br/>
            Phone: @myModel.Phone<br/>
            Address: @myModel.SiteAddress<br/>
        </div>
    </div>


    <div class="row">
        <div class="col-sm-12">
            <h1>WHAT IS FIT BODY BOOT CAMP?</h1>

            <p><strong>@myModel.TitleName</strong> is a results driven and energetic fitness and fat loss workout program that includes motivation, accountability and dynamic resistance training; all designed to get you the body that you want in a safe, fun and non-intimidating atmosphere.</p>

            <p>Every workout session is led by an experienced, certified <strong>@myModel.City</strong> personal trainer and is designed to be fun, supportive and challenging, while burning maximum fat, in minimum time. Personalization is key to getting the best possible results, which is why our workout programs are modified to fit your goals and individual fitness level.</p>

            <p>But unlike working one-on-one with a personal trainer, our workout programs are done in a group setting which makes them fun, motivating, challenging AND it keeps the cost of the program affordable compared to private one-on-one personal training sessions.</p>
        </div>
    </div>
</div>



